<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="free" translate="label" sortOrder="10">
            <label>Free Sample</label>
        </tab>
        <section id="configuration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Free Sample</label>
            <tab>free</tab>
            <resource>DoAgency_FreeSample::free_config</resource>
            <group id="limit" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="free_import" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Importo minimo</label>
                    <comment>Importo minimo per attivare i Free Sample.</comment>
                </field>
                <field id="free_max" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Massimo numero di prodotti da aggiungere</label>
                    <comment>Massimo numero di prodotti Free Sample da aggiungere al carrello.</comment>
                </field>
            </group>
        </section>
    </system>
</config>